In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
fruits = pd.read_table('fruit_data_with_colors.txt')
fruits = pd.read_csv('fruit_data_with_colors.txt', sep='\t')
fruits = pd.read_csv('fruit_data_with_colours.csv')
fruits.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [13]:
fruits.describe()

       fruit_label        mass      width     height  color_score
count    59.000000   59.000000  59.000000  59.000000    59.000000
mean      2.542373  163.118644   7.105085   7.693220     0.762881
std       1.208048   55.018832   0.816938   1.361017     0.076857
min       1.000000   76.000000   5.800000   4.000000     0.550000
25%       1.000000  140.000000   6.600000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  177.000000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000

In [14]:
print(fruits['fruit_name'].unique())

['apple' 'mandarin' 'orange' 'lemon']

In [15]:
print(fruits.groupby('fruit_name').size())

fruit_name
apple       19
lemon       16
mandarin     5
orange      19
dtype: int64

In [1]:
import seaborn as sns
#convert the fruit_name to a float

sns.countplot(fruits['fruit_name'],label="Count")
plt.show()

NameError: name 'fruits' is not defined